#landing{
  height: 50vh;
  background-image: url('img/main.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  z-index: -1;
}
#mainText{
  margin-top: 10vh;
}

body {
  font-size: medium;

}

#skill {
  height: 75px;
}

#skill:hover{
  cursor: pointer;
}

.footer-list {
  text-align: center;
  display: inline;
  float: none;
  display: inline-block;
  
}

main {
  flex: 1 0 auto;
}

.empty-content {
  padding: 100px;
}

.card-image {
  height: 400px;
}
